extends ../layout_admin

block stylesheets
  link(rel="stylesheet", href="/styles/custom_create.css")

block content
  .container
    h1 #{t('authors.createAuthor')}
    if error_msg.length
      #errorAlert.alert.alert-danger #{error_msg}
    if success_msg.length
      #successAlert.alert.alert-success
        | #{success_msg}

    form(action='/admin/authors/create', method='post', enctype='multipart/form-data')
      div.form-group
        label(for='fullname') #{t('authors.fullName')}
        input.form-control(id='fullname', type='text', name='fullname', required)
      div.form-group
        label(for='avatar') #{t('authors.avatar')}
        input.form-control-file(id='avatar', type='file', name='avatar')
      div.form-group
        label(for='bio')= t('authors.bio')
        textarea.form-control(id='bio', type='text', name='bio', required)
      div.form-group
        label(for='dateOfBirth') #{t('authors.dateOfBirth')}
        input.form-control(id='dateOfBirth', type='date', name='dateOfBirth', required)
      div
        button.btn.btn-primary(type='submit') #{t('authors.createAuthor')}
  block scripts
    script(src="/js/user.js")
