extends ../layout_admin

block content
  .container
    h1= t('authors.deleteAuthor')
    p= t('authors.confirmDeleteAuthor', { fullname: author.fullname })
    form(action=`/admin/authors/delete/${author.id}`, method='post')
      button.btn.btn-danger(type='submit')= t('common.delete')
      a.btn.btn-secondary(href='/admin/authors')= t('common.cancel')
