extends ../layout_admin

block content
  .container
    h1.my-4= author.fullname
    .row
      .col-md-4
        if author.avatar
          img(src=author.avatar, alt=author.fullname, class='img-fluid rounded')
        else
          .bg-secondary.text-white.text-center.d-flex.align-items-center.justify-content-center
            | #{t('authors.noImage')}
      .col-md-8
        p
          strong #{t('authors.dateOfBirth')}:
          | #{new Date(author.dateOfBirth).toDateString()}
        p
          strong #{t('authors.biography')}:
          | #{author.biography}
    .mt-4
      a.btn.btn-primary(href=`/admin/authors/update/${author.id}`) #{t('common.edit')}
      a.btn.btn-danger(href=`/admin/authors/delete/${author.id}`) #{t('common.delete')}
      a.btn.btn-success(href='/admin/authors') #{t('authors.authorListTitle')}
