extends ../../layout

block content 
  .container.mx-auto
    h1.my-4.text-light.text-center #{t('title_detail')} #{t('option.user')}
    if user.length === 0
      p.text-light #{t('message.userNotFound')}
    else 
      .list-group-item.d-flex.justify-content-between.align-items-center.bg-dark.text-light
        div
          h3.text-success.mb-1.text-center= user.user_username
          p #{t('form.email')}: #{user.user_email}
          p #{t('form.dateOfBirth')}: #{dateOfBirth}
          p #{t('form.role')}: #{user.user_role} 
          p #{t('form.commentCount')}: #{user.commentCount} 
          p #{t('form.favoriteSongCount')}: #{user.favoriteSongCount} 
          p #{t('form.suggestedSongCount')}: #{user.suggestedSongCount} 
          p #{t('form.playlistCount')}: #{user.playlistCount} 
          .d-flex.justify-content-center
            a.btn.btn-outline-success.w-50.me-2(href="/users/") #{t('action.list')} 
            a.btn.btn-outline-primary.w-50.me-2(href=`/users/update/${user.user_id}`) #{t('action.update')} 
            form.w-50(action=`/users/delete/${user.user_id}?_method=DELETE`, method='POST', onsubmit=`return confirmDeletion()`)
              input(type='hidden', name='_method', value='DELETE')
              button.btn.btn-outline-danger(type='submit') #{t('action.delete')} 
    p#confirmation-message #{t('message.confirmation_delete')}
  block scripts
    script(src="/js/user.js")
