extends ../../layout

block content
  .container
    .row
      .col-md-10.mx-auto
        .card
          .card-header.text-center
            h2= t('title_register')
          .card-body
            form#registerUserform(action="/register" method="POST")
              if error_msg.length
                #errorAlert.alert.alert-danger
                  | #{error_msg}
              .mb-3
                label.form-label(for="username")= t('form.username')
                input.form-control(type="username" name="username" id="username" placeholder="username123" required)
                #responseMessage
              .mb-3
                label.form-label(for="email")= t('form.email')
                input.form-control(type="email" name="email" id="email" aria-describedby="emailHelp" placeholder="name@domain.com" required)
                #emailHelp.form-text
                  | #{t('message.emailIsNotValid')}
              .mb-3
                label.form-label(for="password")= t('form.password')
                input.form-control(type="password" name="password" id="password" placeholder="Abcd@1234" required)
              .mb-3
                label.form-label(for="confirmPassword")= t('form.confirm_password')
                input.form-control(type="password" name="confirmPassword" id="confirmPassword" placeholder="Abcd@1234" required)
                p#passwordError.text-danger= t('error.passwordIncorrect')
              button.btn.btn-success.fw-bold.w-100(type="submit")= t('action.register')
          .card-footer
            p #{t('message.or')}
            .d-flex.justify-content-between
              button.btn.btn-outline-primary(type="button") #{t('action.loginByGoogle')}
            p.mt-3
              | #{t('message.haveAccount')} 
              a(href="/login") #{t('message.loginHere')}
  block scripts
    script(src="/js/user.js")
