extends ../layout_admin

block content
  style.
    a:hover {
      text-decoration: underline;
      color: #1db954;
    }
  .container(style='background-color: #f8f9fa; color: #1db954; padding: 2rem;')
    h1.text-center Delete Playlist
    .row
      .col-md-4
        if playlist.avatar
          img(src=playlist.avatar, alt=playlist.title, class='img-fluid rounded')
        else
          .bg-secondary.text-white.text-center.d-flex.align-items-center.justify-content-center(style='width: 100%; height: 300px;')
            | No Image
      .col-md-8
        p
          strong Type:
          | #{playlist.title}
        p
          strong Type:
          | #{playlist.type}
        p
          strong Created At:
          | #{new Date(playlist.createdAt).toDateString()}
        p
          strong Num of songs:
          | #{length}

    h2 Are you sure you want to delete the playlist: #{playlist.title}?
    form(action=`/admin/playlists/delete/${playlist.id}`, method='post').d-flex
      button.btn.btn-danger(type='submit').mr-2 Delete
      a.btn.btn-secondary(href='/admin/playlists') Cancel
    
    h1.text-center.mb-4 List of Songs
    ul.list-group
      each song in playlist.songs
        li.list-group-item.d-flex.justify-content-between.align-items-center
          .d-flex.align-items-center
            if song.imageUrl
              img(src=song.imageUrl, alt=song.title, class='rounded-circle', style='width: 50px; height: 50px; object-fit: cover; margin-right: 15px;')
            else
              .bg-secondary.text-white.rounded-circle.d-flex.align-items-center.justify-content-center(style='width: 50px; height: 50px; margin-right: 15px;')
                | No Image
            .ml-2
              a(href=`/musics/${song.id}`, class='text-decoration-none text-dark')
                h5.mb-1= song.title
              small: = song.artist  
              | &nbsp;
              small : #{new Date(song.createdAt).toDateString()}
          .mt-4
            form(action=`/admin/playlists/remove-song/${playlist.id}`, method='post', style='display: inline;')
              input(type='hidden', name='songId', value=song.id)
              button.btn.btn-danger(type='submit') Remove
