extends ../layout_admin

block stylesheets
  link(rel="stylesheet", href="/styles/custom_list.css")

block content
  .container
    h1.my-4.text-light= t('genres.title')
    ul.list-group
      each genre in genres
        li.list-group-item.d-flex.justify-content-between.align-items-center.bg-dark.text-light
          div
            a(href=`/admin/genres/${genre.id}`, class="text-decoration-none text-success")
              h5.mb-1= genre.name
            small= t('genres.genreName', { name: genre.name })
    .mt-4
      a(href="/admin/genres/create", class="btn btn-success")= t('genres.createNewGenre')

    include ../partials/_pagination.pug
