extends ../layout_admin

block stylesheets
  link(rel="stylesheet", href="/styles/custom_create.css")

block content
  .container
    h1= t('genres.updateGenre')

    if flash
      if flash.success
        .alert.alert-success
          | #{flash.success}

      if flash.error
        .alert.alert-danger
          | #{flash.error}

    form(action=`/admin/genres/update/${genre.id}?_method=put` method='post')
      .form-group
        label(for='title')= t('genres.name')
        input(type='text' id='name' name='name' class='form-control' value=genre.name required)
      button.btn.btn-primary(type='submit')= t('common.edit')
