extends ../layout

block content 
  .container.mt-2
  h2 #{t('message.welcom')} #{user.username}!
  p #{t('message.homepage')} #{user.username}.
  ul 
    li 
      a(href="/users") #{t('action.list')} #{t('option.user')} 
    li  
      a(href="/users/create") #{t('action.create')} #{t('option.user')} 
  a(href="/logout") #{t('action.logout')}
