extends ../layout_user

block content
  .combo_back.px-4
    a.btn.btn_back.d-cursor-not-allowed.mr-2
      i.fas.fa-chevron-left.d-cursor-not-allowed
    a.btn.btn_back.d-cursor-not-allowed
      i.fas.fa-chevron-right.d-cursor-not-allowed
  if error_msg.length
    #errorAlert.alert.alert-danger #{error_msg}
  .artists.px-4
    .d-flex.justify-content-between.mt-4
      a(href="/section/artists").title #{t('guess_page.popularArtist')}
      a.text-light(href="/section/artists")  #{t('guess_page.showAll')}
    ul.d-flex.mt-3.single-line
      each author, index in authors
        if index < 6
          li.item(role="button") 
            img.avatar.circle(src=author.avatar, alt=author.fullname)
            a.full_name(href=`/user/detail/authors/${author.id}`) #{author.fullname}
            p.artist #{t('guess_page.artist')}
  .albums.px-4
    .d-flex.justify-content-between.mt-4
      a(href="/section/albums").title #{t('guess_page.popularAlbum')}
      a.text-light(href="/section/albums")  #{t('guess_page.showAll')}
    ul.d-flex.mt-3.pl-0
      each album, index in albums
        if index < 6
          li.item(role="button") 
            img.avatar.square(src=album.imageUrl, alt=album.title)
            a.full_name(href="#") #{album.title}
            p.artist #{album.author.fullname}
  .songs.px-4
    .d-flex.justify-content-between.mt-4
      a.title #{t('guess_page.newSongs')}
      a.text-light(href="/section/songs")  #{t('guess_page.showAll')}
    ul.d-flex.mt-3.pl-0
      each song, index in songs   
        if index < 6
          li.item(role="button") 
            img.avatar.square(src=song.imageUrl, alt=song.title)
            a.full_name(href=`/user/detail/musics/${song.id}`) #{song.title}
            p.artist #{song.author.fullname}
