extends ../layout_admin

block stylesheets
  link(rel="stylesheet", href="/styles/custom_detail.css")

block content
  .container
    a.btn.btn_back.d-cursor-pointer(href=`/admin/albums/${album.id}`) 
      i.fas.fa-chevron-left.d-cursor-pointer
    h1.d-flex #{t('common.delete')} #{t('option.album')}
    form#formDelete(action=`/admin/albums/delete/${album.id}?_method=DELETE`, method='POST', onsubmit=`return confirmDeletion()`)
      input(type='hidden', name='_method', value='DELETE')
      if error_msg.length
        #errorAlert.alert.alert-danger #{error_msg}
      h2.text-white #{album.title}
      h5.mt-2 #{t('message.numberSong')}: #{countSong}
      if countSong > 0  
        h6#confirmDelete.text-danger #{t('message.confirmation_delete')}
        button.btn.btn-outline-danger(type='submit') #{t('common.delete')}
      else 
        h6#confirmDelete #{t('message.confirmation_delete')}
        button.btn.btn-danger(type='submit') #{t('common.delete')}
