extends ../layout_admin

block stylesheets
  link(rel="stylesheet", href="/styles/custom_create.css")

block content
  .container
    h1 #{t('common.edit')} #{t('option.album')}
    form#albumForm(action=`/admin/albums/update/${album.id}?_method=PUT` method="POST" enctype="multipart/form-data") 
      input(type="hidden" name="_method" value="PUT")
      if error_msg.length
        #errorAlert.alert.alert-danger #{error_msg}
      if success_msg.length
        #successAlert.alert.alert-success
          | #{success_msg}
      .mb-3
        label.form-label(for="title")= t('form.title_album')
        input.form-control(type="text" name="title" id="title" placeholder=t('form.title_album') value=album.title)
      .mb-3
        label.form-label(for="avatar")= t('form.avatar')
        input.form-control(type="file" name="avatar" id="avatar" accept="image/*" onchange="previewImage(event)")
        if album.imageUrl
          img#previewImage.img-thumbnail.mt-3(src=album.imageUrl alt="Album Image" name="previewImage" )
      .mb-3
        label.form-label(for="releaseDate")= t('form.releaseDate')
        input.form-control(type="date" name="releaseDate" id="releaseDate" value=releaseDate)
      .mb-3
        label.form-label(for="author")= t('form.author')
        select.form-control(name="authorId" id="author")
          each author in authors
            if author.id === author_album.id
              option(value=author.id selected)= author.fullname
            else 
              option(value=author.id)= author.fullname 
      button.btn.btn-success.fw-bold(type="submit")= t('common.edit')

  block scripts
    script(src="/js/user.js")
