extends layout

block content
  h1.text-center.mb-4= t('content.discover_new_music')
  .row
    each track in tracks
      .col-md-3.mb-4
        .card
          img.card-img-top(src=track.image, alt=track.title)
          .card-body
            h5.card-title= track.title
            p.card-text= t('content.artist', { artist: track.artist })
            a.btn.btn-primary(href="#")= t('content.play')
