
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/all.min.css")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    link(rel="stylesheet" href="/styles/custom_footer.css")
    link(rel="stylesheet", href="/styles/custom_homepage.css")
    link(rel="stylesheet" href="/styles/style.css")
    block stylesheets
    script(src="/scripts/jquery.min.js")
    script(src="/scripts/popper.min.js")
    script(src="/scripts/bootstrap.min.js")
    script(src="/js/layout_admin.js")
    script(src="/js/modal.js")
  body
    nav.navbar.navbar-dark
      a.navbar-brand(href="/user")= t('navbar.brand')
      div.navbar-right
        a.btn.btn-login(href="#" id="showModal") #{user.username}
          i.fas.fa-caret-down.ml-2
        span.language-selector
        a.text-decoration-none.text-light.pe-2(href='?lng=en') #{t('navbar.language.english')} 
        a.text-decoration-none.text-light |
        a.text-decoration-none.text-light.ps-2(href='?lng=vi') #{t('navbar.language.vietnamese')}

    .main-content
      .sidebar
        ul.nav.flex-column
          li.nav-item.active
            a.nav-link(href="/user")
              i.fas.fa-home
              = t('sidebar.home')
              span.sr-only (current)
          li.nav-item
            a.nav-link(href="/user/search")
              i.fas.fa-search
              = t('sidebar.search')
          li.nav-item
            a.nav-link(href="#")
              i.fas.fa-book
              = t('sidebar.library')
          li.nav-item.divider
            hr
          li.nav-item
            a.nav-link(href="/user/playlists")
              i.fas.fa-plus
              = t('sidebar.create_playlist')
          li.nav-item
            a.nav-link(href="/user/liked-song")
              i.fas.fa-heart
              = t('sidebar.liked_song')
      .content
        block content

      .modal#accountModal(tabindex="-1" role="dialog")
        .modal-dialog(role="document")
          .modal-content.table_account
            .modal-body
              ul.nav.flex-column
                li
                  a(href="/user/account") #{t('action.account')}
                  i.fa-solid.fa-pen-to-square.ml-3
                li
                  a(href="#") #{t('action.profile')}
                  i.fa-solid.fa-address-card.ml-3
                li
                  a(href="/logout") #{t('action.logout')}
                  i.fas.fa-sign-out-alt.ml-3
    include footer.pug
