doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="/styles/custom_homepage.css")
    link(rel="stylesheet", href="/styles/custom_detail.css")
    link(rel="stylesheet", href="/styles/custom_create.css")
    link(rel="stylesheet", href="/styles/custom_list.css")
    link(rel="stylesheet", href="/styles/custom_footer.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    script(src="/scripts/jquery.min.js")
    script(src="/scripts/popper.min.js")
    script(src="/scripts/bootstrap.min.js")
    script(src="/scripts/admin_playsong.js")
  body
    nav.navbar.navbar-dark
      a.navbar-brand(href="#")= t('navbar.brand')
      div.navbar-right
        button.btn.btn-login(type="button")= t('navbar.logout')
        span.language-selector
        a.text-decoration-none.text-light.pe-2(href='?lng=en') #{t('navbar.language.english')} 
        a.text-decoration-none.text-light |
        a.text-decoration-none.text-light.ps-2(href='?lng=vi') #{t('navbar.language.vietnamese')}

    .main-content
      .sidebar
        ul.nav.flex-column
          li.nav-item.active
            a.nav-link(href="/admin/genres")
              = t('sidebar.genre')
          li.nav-item
            a.nav-link(href="/admin/authors")
              = t('sidebar.author')
          li.nav-item
            a.nav-link(href="#")
              = t('sidebar.user')
          li.nav-item
            a.nav-link(href="/admin/musics")
              = t('sidebar.song')
          li.nav-item.divider
            hr
          li.nav-item
            a.nav-link(href="#")
              = t('sidebar.create_playlist')

      .content
        block content

    footer.audio-player
      audio#main-audio-player
        | Your browser does not support the audio element.
      .controls
        button#prev-btn(type="button") &lt;&lt;
        button#play-pause-btn(type="button") Play
        button#next-btn(type="button") &gt;&gt;
        .time
          span#current-time 00:00
          span#duration / 00:00
        input#progress(type="range" min="0" value="0")
        input#volume(type="range" min="0" max="1" step="0.01" value="1")

