extends ../layout_user

block stylesheets
  link(rel="stylesheet", href="/styles/custom_create.css")
  link(rel="stylesheet", href="/styles/custom_change_password.css")

block content 
  .container 
    a.back(href="/user/account")
      i.fas.fa-chevron-left
    h2.text-light.mb-3 #{t('changePassword.title')} 
    form.w-400(action=`/user/account/change-password/${userForm.user_id}` method="POST") 
      if error_msg.length
        #errorAlert.alert.alert-danger
          | #{error_msg}
      if success_msg.length
        #successAlert.alert.alert-success
          | #{success_msg}
      .mb-3
        label.form-label(for="currentPassword")= t('changePassword.currentPassword')
        .d-flex.align-items-center
          input.form-control(type="password" name="currentPassword" id="currentPassword" )
          i.togglePassword.fas.fa-eye-slash.ml-3(data-target="#currentPassword")
        #responseMessage
      .mb-3
        label.form-label(for="newPassword")= t('changePassword.newPassword')
        .d-flex.align-items-center
          input.form-control(type="password" name="newPassword" id="newPassword" disabled)
          i.togglePassword.fas.fa-eye-slash.ml-3(data-target="#newPassword")
      .mb-3
        label.form-label(for="confirmNewPassword")= t('changePassword.confirmNewPassword')
        .d-flex.align-items-center
          input.form-control(type="password" name="confirmNewPassword" id="confirmNewPassword" disabled)
          i.togglePassword.fas.fa-eye-slash.ml-3(data-target="#confirmNewPassword")
      .d-flex.align-items-center
        button.btn.btn-secondary.text-decoration-none.mr-3(type="reset") #{t('common.cancel')}
        button.btn.btn-success(type="submit")= t('changePassword.enter')

  block scripts
    script(src="/js/user.js")
