extends ../layout_admin

block stylesheets
  link(rel="stylesheet", href="/styles/custom_delete.css")

block content
  .container
    .row
      .col-12
        h1.card-title
          b.song-title-color= song.title

    .row
      .col-md-6
        .card-songs-detail
          img.card-img-top(src=song.imageUrl alt=t('songs.detail.imageAlt'))
          .card-body
            h2.card-title= song.title
            p.card-text
              = t('content.artist')
              b= song.artist
            p.card-text
              = t('content.lyrics')
              pre.card-text.lyrics-text-color= song.lyrics
      .col-md-6
        .card-songs-detail
          .card-body
            h3= t('songs.detail.listenToSong')
            button.btn.btn-primary(type="button" data-toggle="modal" data-target="#audioPlayerModal" onclick=`updateAudioPlayer("${song.url}")`)= t('content.play')
            p= t('songs.deleteSong.confirmDelete', { title: song.title })
            form(action=`/admin/musics/delete/${song.id}?_method=delete` method='POST')
              button(type='submit' class='btn btn-danger')= t('songs.deleteSong.button.delete')
              a(href='/admin/musics' class='btn btn-secondary ml-2')= t('common.cancel')
