extends ../layout_admin

block stylesheets
  link(rel="stylesheet" href="/styles/custom_detail.css")

block content
  .container
    h1 #{song.title}

    .row
      .col-md-6
        .card-songs-detail
          img.card-img-top(src=song.imageUrl alt="Song Image")
          .card-body
            h2.card-title= song.title
            p.card-text
              | #{t('content.artist')}
              b= song.artist
            p.card-text
              | #{t('content.genres')}
              each genre in song.genres
                a.btn.btn-success(href=`/admin/genres/${genre.id}`) #{genre.name}
      .col-md-6
        .card-songs-detail
          .card-body
            button.btn.btn-primary(type="button" data-toggle="modal" data-target="#audioPlayerModal" onclick=`updateAudioPlayer("${song.url}"), ${-1}`) #{t('content.play')}
            div.mt-4
              a.btn.btn-primary(href=`/admin/musics/update/${song.id}`) #{t('common.edit')}
              a.btn.btn-danger(href=`/admin/musics/delete/${song.id}`) #{t('common.delete')}
              a.btn.btn-success(href='/admin/musics') #{t('songs.list.title')}
      .card-body
        p.card-text
          | #{t('content.lyrics')}
          pre.card-text.lyrics-text-color= song.lyrics
