extends ../layout_admin

block content
  .container
    h1.my-4 #{song.title}

    .row
      .col-md-6
        .card-songs-detail
          img.card-img-top(src=song.imageUrl alt="Song Image")
          .card-body
            h2.card-title= song.title
            p.card-text
              | Artist: 
              b= song.artist
            p.card-text
              | Lyrics:
              pre.card-text(style="color: #e5e5e5")= song.lyrics
      .col-md-6
        .card-songs-detail
          .card-body
            h3= "Listen to the Song"
            button.btn.btn-primary(type="button" onclick=`updateAudioPlayer("${song.url}")`) Play
            div.mt-4
                a.btn.btn-primary(href=`/admin/musics/update/${song.id}`) Edit
                a.btn.btn-danger(href=`/admin/musics/delete/${song.id}`) Delete
                a.btn.btn-success(href='/admin/musics') Song List
