extends ../../layout

block content
  .combo_back.px-4
    a.btn.btn_back.d-cursor-pointer.mr-2(href="/") 
      i.fas.fa-chevron-left.d-cursor-pointer
    a.btn.btn_back.d-cursor-not-allowed(href="") 
      i.fas.fa-chevron-right.d-cursor-not-allowed
  .albums.px-4
    .d-flex.justify-content-between.mt-4
      h2.title #{t('guess_page.newSongs')}
    ul.d-flex.mt-3.pl-0
      each song in songs
        li.item(role="button") 
          img.avatar.square(src=song.imageUrl, alt=song.title)
          a.full_name(data-url=`/songs/${song.id}`) #{song.title}
          p.artist #{song.author.fullname}

  block scripts
    script(src="/js/guess.js")
