extends ../../layout_user

block stylesheets
  link(rel="stylesheet", href="/styles/custom_list.css")
  link(rel="stylesheet", href="/styles/custom_detail_playlist.css")
  link(rel="stylesheet", href="/styles/custom_detail.css")

block content 
  .container 
    a.btn.btn_back.d-cursor-pointer(href=`/user/section/albums`) 
      i.fas.fa-chevron-left.d-cursor-pointer
    h1.text-center #{t('common.detail')} #{t('option.album')}
    if error_msg.length
        #errorAlert.alert.alert-danger #{error_msg}
    .row.mt-3
      .col-3
        img.album-avatar(src=album.imageUrl, alt=album.title)
      .col-8
        h4.text-white #{album.title}
        h5.mt-2 #{t('form.releaseDate')}: #{album.releaseDate.toDateString()}
        h5.mt-2 #{t('option.author')}: 
          a(href=`/user/detail/authors/${author.id}`).mt-2 #{author.fullname}
        h5.mt-2 #{t('message.numberSong')}: #{countSong}
        .d-flex.pt-2
          if countSong !== 0
            button.btn.btn-outline-success.mr-2(type="button" data-toggle="modal" data-target="#audioPlayerModal" onclick=`updateAudioPlayer("${firstSong.url}", "${firstSong.imageUrl}", "${firstSong.title}", "${firstSong.author.fullname}",  ${0})`) #{t('content.play')}
          else 
            a.btn.btn-outline-success.dis(href="/admin/albums") #{t('footer.play')}
    .row.mt-3
      ul.list-group-750.pl-2 
        each song, index in songs 
          li.list-group-item.d-flex.justify-content-between.playlist-song(data-song-url=song.url)
            .col-6
              a(href=`/user/detail/musics/${song.id}`)
                h5.mb-1(class=`${song.status === Deactive ? 'text-muted' : ''}`)= song.title
              h5(class=`${song.status === Deactive ? 'text-muted' : ''}`) #{t('songs.form.artist')}: #{song.author.fullname}
            .col-3
              img.song-avatar(src=song.imageUrl, alt=album.title)
            .col-3.d-flex
              button.btn.btn-primary.ml-2(type="button" data-toggle="modal" data-target="#audioPlayerModal" class=`${song.status === Deactive ? 'disabled' : ''}` onclick=`updateAudioPlayer("${song.url}", "${song.imageUrl}", "${song.title}", "${song.author.fullname}", ${index})`) #{t('content.play')}

  if album
    #playlist-data(playlist-datas=album)  
  if firstSong
    #first-song(data-song-url=firstSong)
