extends ../../layout_user

block content
  .combo_back.px-4
    a.btn.btn_back.d-cursor-pointer.mr-2(href="/user") 
      i.fas.fa-chevron-left.d-cursor-pointer
    a.btn.btn_back.d-cursor-not-allowed(href="") 
      i.fas.fa-chevron-right.d-cursor-not-allowed
  #errorAlert.alert.alert-danger.d-none #{error_msg}
  #successAlert.alert.alert-success.d-none #{success_msg}
  .albums.px-4
    .d-flex.justify-content-between.mt-4
      h2.title #{t('guess_page.newSongs')}
    ul.d-flex.mt-3.pl-0
      each song in songs
        - const isLiked = Array.isArray(songsByLikedSong) && songsByLikedSong.some(likedSong => likedSong.id === song.id)
          li.item(role="button") 
            img.avatar.square(src=song.imageUrl, alt=song.title)
            a.full_name(href=`/user/musics/${song.id}`) #{song.title}
            .d-flex.justify-content-between.mt-2
              p.artist #{song.author.fullname}
              span.like-button(data-liked=isLiked.toString() data-song-id=song.id)
                i(class=isLiked ? 'fas fa-heart' : 'far fa-heart')

  block scripts
    script(src="/js/layout_user.js")
