extends ../layout_admin

block content 
  .container.mx-auto
    h1.my-4.text-light.text-center #{t('action.list')} #{t('option.user')}
    if success_msg.length
      #successAlert.alert.alert-success
        | #{success_msg}
    a.mb-3.btn.btn-success.w-50(href="/admin/users/create") #{t('action.create')} #{t('action.new')} #{t('option.user')}
    if users.length === 0
      p.text-light #{t('message.userNotFound')}
    else
      ul.list-group
        each user in users
          li.list-group-item.d-flex.justify-content-between.align-items-center.bg-dark.text-light
            div
              a(href=`/admin/users/${user.id}`, class="text-decoration-none text-success")
                h5.mb-1= user.username
              small #{t('form.email')}: #{user.email}
              br
              small #{t('form.dateOfBirth')}: #{user.dateOfBirth}

  block scripts
    script(src="/js/user.js")
