extends ../layout_admin

block content 
  .container.mx-auto
    h1.my-4.text-center #{t('title_list')} #{t('option.user')}
    if users.length === 0
      p.text-light #{t('message.userNotFound')}
    else
      ul.list-group
        each user in users
          li.list-group-item.d-flex.justify-content-between.align-items-center.bg-dark.text-light
            div
              a(href=`/admin/users/${user.id}`, class="text-decoration-none text-success")
                h5.mb-1= user.username
              small #{t('form.email')}: #{user.email}
              br
              small #{t('form.dateOfBirth')}: #{user.dateOfBirth}
      .mt-4.w-50
        a(href="/admin/users/create", class="btn btn-success") #{t('action.create')} #{t('action.new')} #{t('option.user')}
