extends ../layout_admin

block stylesheets
  link(rel="stylesheet", href="/styles/custom_create.css")

block content
  .container
    a.btn.btn_back.d-cursor-pointer.mr-2(href=`/admin/users/${user.user_id}`) 
      i.fas.fa-chevron-left.d-cursor-pointer
    h1.text-center #{t('common.edit')} #{t('option.user')}
    form#updateUserform(action=`/admin/users/update/${user.user_id}?_method=PUT` method="POST") 
      input(type="hidden" name="_method" value="PUT")
      .mb-3
        label.form-label(for="username")= t('form.username')
        input.form-control.text-dark(type="text" name="username" id="username" value=user.user_username readonly)
        #responseMessage
      .mb-3
        label.form-label(for="role")= t('form.role')
        select.form-control(name="role" id="role")
          each role in roles
            if role === user.user_role
              option(value=role selected)= role
            else  
              option(value=role)= role
      .mb-3
        label.form-label(for="status")= t('form.status')
        select.form-control(name="status" id="status" onchange="toggleReasonLockUser()")
          each status in statuses
            if status === user.user_status
              option(value=status selected)= status
            else  
              option(value=status)= status
      .mb-3.d-none#reasonLockUser
        label(for="reason")= t('form.reason')
        input.form-control(type="text" name="reason" id="reason" placeholder= t('message.enterReason'))
      button.btn.fw-bold.w-25(type="submit")= t('common.edit')

  block scripts
    script(src="/js/user.js")
